:root {
  --earth: #c49a6c;
  --sand: #f5efe6;
  --dark: #111111;
  --accent: #00d1b2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: var(--sand);
  color: var(--dark);
  line-height: 1.6;
.hero {
  height: 100vh;
  width: 100%;
  background: url("hero-camel.jpeg") center/cover no-repeat;
  position: relative;
}

.hero-content {
  position: relative;
  z-index: 2; /* sits above everything */
  max-width: 700px;
  color: white;
  padding: 4rem;
  text-shadow: 0 4px 12px rgba(0,0,0,0.6); /* stronger shadow to read text */
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.btn-primary {
  margin-top: 1.5rem;
  background: var(--accent);
  color: black;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 600;
  width: fit-content;
}

.btn-primary1 {
  margin-top: 3rem;
  background: var(--accent);
  color: black;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 600;
  width: fit-content;
}

/* SECTIONS */
section {
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: auto;
}

.roles-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.role-card {
  background: white;
  padding: 1.5rem;
  border-left: 4px solid var(--earth);
}

/* APPLY */
.apply form {
  display: grid;
  gap: 1rem;
  max-width: 500px;
}

input, textarea {
  padding: 0.8rem;
  border: 1px solid #ccc;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 2rem;
  background: var(--dark);
  color: white;
}
/* TOP NAV */

}
.top-logo {
  position: relative;
  padding: 2rem;
  top: 30px;
  right: 10px;
  z-index: 10;
}

.cta-button {
  background-color: #61d2d4;  /* turquoise like your screenshot */
  color: #000;
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 60px;
  display: inline-block;
